<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

</head>

<body>
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments::slider">
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/Bacxiu.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Welcome to <span>Cozy CoffeeShop</span></h2>
                <p>Come to have a cup of coffee</p>
                <p>Enjoy the chilling vibe</p>
                <p>A menu with a variety of choices</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>

    </div>
</div>




<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>


<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>
